*.hulilabs.xyz   # Your site's address

tls {
    max_certs 10
    ca https://acme-staging-v02.api.letsencrypt.org/directory
}

ext .html   # Clean URLs

errors error.log {       # Error log
    404 error-404.html   # Custom error page
}